body {
    background-color: black;
}

#modif{
    padding: 0;
    margin: 0 0 4% 0;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ligne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hentai  {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.bord{
    border: 2px solid white;
}

.hentai img {
    width: 98%;
}

#left, #right{
    position: absolute;
    width: 10.8vw;
    flex: 1;
}
.jeu {
    width: 90%;
    border-bottom: 2px solid white;
    background-color: white;
    padding-right: 5px;
}
.ligne{
    margin: 2px 2px 2px 2px;
}

#reload {
    margin: 15px 0 3% 0;
    color: black;
    visibility: hidden;
}

