.ligne {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hentai  {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}
.hentai img {
    width: 100%;
}

#left, #right{
    position: absolute;
    width: 12.5vw;
    flex: 1;
}
